@font-face {
    font-family: Andhibath;
    src: url(/Css/Fonts/Andhibath-Demo.ttf);
}


h1
{
color: blueviolet;
font-size: 150px;
font-family: Andhibath;
text-align: center;
border: 8px #8a2be2 double;
text-shadow:4px 3px 8px rgb(255, 255, 0);
background-color: rgba(0, 255, 255, 0.5);
position: sticky;
top: 1px;


}

.warp{
    color: blueviolet;
    font-family: Andhibath;

}

#name {
    color: #ff0000 ;
    font-family: Andhibath;
    font-size: 20px;
    position: fixed;
    left:100px;
    
   
}
#logojoan{
    width: 50px ;
    float:left;
    position: fixed;
    left:25px;
    top: 2px;
}
#logoredes
{
    float: right;
    
}
.iconos {
    background-color: #ff0000;
   
}

#busqueda{
    float: right;
    position: sticky;
}

a:link{
    color: #8a2be2;
}
a:visited{
    color: green;
}
a:hover{
    color: yellow;
}
a:active{
    color:#ff0000
}

footer{
    position: fixed;
    bottom: 2px;
    background-color: rgba(0, 255, 255, 0.5);
    left: 720PX;
    float: right;
}
.pfooter{
    display: inline;
   
}