@font-face {
    font-family: Andhibath;
    src: url(/Css/Fonts/Andhibath-Demo.ttf);
}

.container__header{
    background-color: ;
    
    
    
}
.container__icons{
    
    background-color: rgba(0, 255, 255, 0.5);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.img__container{
    background-color: red;
    padding: 0%;
}
#logo__joan{
    background-color: rgb(25, 0, 255);
    display: block;
}
#name{
    background-color: yellow;
    display: block;
}
.social__icons{
    background-color: yellow;
}
#search{
    background-color: yellow;
}



.container__footer{
    background-color: yellow;
    display: flex;
}




/*.container__header{
    background-color: #ff0000; 
    position: fixed; 
    padding: 0%;
    top: 0%;
    left: 0%;
    align-items: center;
    justify-content: space-between;
    width: 100%;      
   
        
}

.icon__img{
    background-color: #8a2be2;
}




.warp{
    color: blueviolet;
    font-family: Andhibath;

}

#name {
    color: aqua ;
    font-family: Andhibath;
    font-size: 20px;
    display: inline;
    background-color: #8a2be2;
    
}
.logojoan{
    width: 50px ;   
}



h1
{
color: blueviolet;
font-size: 150px;
font-family: Andhibath;
text-align: center;
border: 8px #8a2be2 double;
text-shadow:4px 3px 8px rgb(255, 255, 0);
background-color: rgba(0, 255, 255, 0.5);
top: 1px;
padding: 0;
}

a:link{
    color: #8a2be2;
}

a:visited{
    color: green;
}
a:hover{
    color: yellow;
}
a:active{
    color:#ff0000
}

footer{
    position: fixed;
    bottom: 2px;
    background-color: rgba(0, 255, 255, 0.5);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    
}
*/
