@font-face {
    font-family: Andhibath;
    src: url(/Css/Fonts/Andhibath-Demo.ttf);
}

*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}
html{
    font-size: 62%;
}
.body{
    
    width: 100%;
    background-color: aqua;
    
}
.container__header{
    /*background-color:rgba(0, 255, 255, 0);*/
    font-size: 1.8rem;
    position: relative;
    


   
   
   
   /*preguntarle a Santi si esto esta bien, para sobre poner el titulo de Warp*/

    
}
.container__icons{
    
   /* background-color: rgba(0, 255, 255, 0.5);*/
    display: flex;
    
    justify-content: space-between;
    width: 100%;
    
}

.img__container{
    background-color: red;
    padding: 0%;
}
.container__icons-logojoan{
    display: inline-block;
}
#logo__joan{
    background-color: rgb(251, 255, 0);
   
}
#name{
    background-color: yellow;
   text-align: justify;
   font-family: Andhibath;
   position: relative;
   bottom: 35%;
    
}

.social__icons{
    background-color: yellow;
}
.main-nav{
    
    margin-top: 0%;
    list-style: none;
    padding-left: 0%;
    
       
}
.main-nav__title {
    background-color: yellow;
    display: inline-block;
    
}
.main-nav__title a{
    text-decoration: none;
}

.main-nav__title a:hover{
    color: aqua;
}
.main-nav__title a:active{
    color:blueviolet;
}
.main-nav__title a::after{
    content: " / ";
}



.container__footer{
    background-color: yellow;
    display: flex;
}

#title-container{
   /* background-color: red;*/
   
    text-align: center; 
    display: inline;
    position: absolute;
    width: 50%;
    top: 20px;
    margin: 0px;
    
    left: 25%;   
}
#title-warp{
    color: blueviolet;
    font-size: 20rem;
    font-family: Andhibath;
    display: inline-block;
   /*background-color: aqua;*/
    text-shadow:4px 3px 8px rgb(255, 255, 0);
    margin:0;
    width: 100%;
    top: 40px;   
  
}
.main-container{
    max-width: 85vw;
    position:relative;
    display: inline-block;
    width: 100%; 
    top:21rem;
    left: 19rem;
    
  
    
}

.aside-container{
   /* ;
    position: relative;
    width: 30%;
    height: 200%;
    left: 0px;
    top: 10%;
    bottom: ;*/
    position: absolute;
    width: 171px;
    height: 695px;
    left: 14px;
    top: 280px;
    /*background-color: aqua*/
   
}
.aside-container img{
    position: relative;
    width: 100%;
    padding: 5%;
    
    
}

.article-main-container{
    width: 100%;
    height: 695px;
    /*background-color: yellow;*/
}

.section-main-container{
    position: absolute;
    width: 100%;
    height: 695px;
   /* background-color: aqua;*/
    /*background-image: url(/img/fondo.jpg);*/
    
}



.main-container h1{
    font-family: Andhibath;
    font-size: 5rem;
    display: inline;
    position: relative;
    left: 83rem;
    
    /*background-color:aquamarine;*/
}
#title-beats{
    
}

.section-audio {
   
    width: 100%;
    height: 695px;

    top: 0px;
    left: 2px;
    /*background-color: yellow;*/
    padding: 0px;
    position: relative;
         
}
.audio{display:block;
    padding: 0.5rem;
    margin: 0rem 0rem 11rem 0rem;
    background-color: yellow;
    position: relative;
    top: 10rem;

}